@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu";
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: initial;
}

button {
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button--next,
.button--prev {
  width: 48px;
  height: 48px;
  background: white;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
.button--next:hover,
.button--prev:hover {
  opacity: unset;
  transition: 0.3s;
}

.header {
  padding: 20px 0;
}
.header__logo {
  font-weight: 700;
  font-size: 28px;
  color: #1E212C;
  z-index: 2;
}
.header__nav {
  display: flex;
  z-index: 2;
}
.header__link {
  margin: 0 20px;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
}
.header__link:hover {
  color: #FF5A30;
  transition: 0.3s;
}
.header__icon {
  margin-left: 4px;
}
.header__info, .header__call, .header__chat {
  display: flex;
}
.header__chat {
  margin-left: 36px;
}
.header__subtitle {
  font-weight: 700;
  font-size: 14px;
  color: #424551;
}
.header__mail, .header__num {
  font-weight: 400;
  font-size: 18px;
  color: #1E212C;
  display: block;
}
.header__mobile, .header__massage {
  margin-left: 12px;
}

.burger {
  display: none;
  position: relative;
}
.burger__line {
  position: absolute;
}
.burger__delete {
  position: absolute;
  top: -23px;
  right: -30px;
  width: 100vw;
  height: 101vh;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}
.burger__list {
  display: none;
  position: absolute;
  right: -30px;
  top: -25px;
  transition: 1s;
  width: 300px;
  height: 101vh;
  background: black;
  transition: 999ms;
  border-top-left-radius: 20px;
  z-index: 3;
}
.burger__nav {
  display: none;
}
.burger__call, .burger__chat {
  display: flex;
}
.burger__subtitle {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.burger__mail, .burger__num {
  font-weight: 200;
  font-size: 18px;
  color: white;
  display: block;
}
.burger__call, .burger__chat {
  margin: 30px 0;
}
.burger__link {
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.burger__link:hover {
  color: #FF5A30;
  transition: 0.3s;
}
.burger__item {
  margin: 20px 0;
}
.burger__mobile, .burger__massage {
  margin-left: 12px;
}
.burger__close {
  display: none;
  z-index: 5;
  margin-right: 15px;
}
.burger__menu {
  width: 30px;
  height: 18px;
  background: rgba(0, 0, 0, 0);
  position: relative;
  justify-content: flex-end;
  cursor: pointer;
}
.burger__menu .a {
  width: 14px;
  height: 2px;
  background: #000;
  top: 0px;
}
.burger__menu .b {
  width: 100%;
  height: 2px;
  background: #000;
}
.burger__menu .c {
  width: 22px;
  height: 2px;
  background: #000;
  bottom: 0px;
}
.burger__menu.active .burger__line {
  display: none;
}
.burger__menu.active .burger__close {
  display: block;
  transform: rotate(45deg);
  transition: 1s;
}
.burger__menu.active ~ .burger__list {
  display: block;
}
.burger__menu.active ~ .burger__delete {
  right: -30px;
  display: block;
}
.burger__menu.active ~ .burger__delete {
  right: -30px;
  display: block;
}
.burger__menu.active ~ body {
  overflow: hidden;
}

.hero {
  background: url(../assents/img/hero/bg.png) center no-repeat;
  background-size: cover;
  padding: 220px 0 120px;
}
.hero__title {
  font-weight: 700;
  font-size: 72px;
  color: white;
  margin-bottom: 24px;
}
.hero__nick {
  color: #FF5A30;
}
.hero__description {
  font-weight: 400;
  font-size: 20px;
  color: white;
  max-width: 595px;
}
.hero__btns {
  margin-top: 61px;
}
.hero__content {
  padding-bottom: 30px;
}
.hero__first--btn, .hero__second--btn {
  padding: 20px 40px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background: #FF5A30;
  border-radius: 4px;
}
.hero__first--btn:hover, .hero__second--btn:hover {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  padding: 19px 39px;
}
.hero__first--btn {
  margin-right: 12px;
}
.hero__second--btn {
  margin-left: 12px;
}
.hero__next--button {
  right: -265px;
}
.hero__prev--button {
  left: -265px;
}
.hero__next--button, .hero__prev--button {
  top: 49%;
  bottom: 49%;
  z-index: 2;
}
.hero__inner {
  position: relative;
}
.hero__swiper__second {
  margin-top: 170px;
}

.video {
  padding: 120px 0 180px;
}
.video__content {
  text-align: center;
}
.video__title {
  font-weight: 700;
  font-size: 46px;
  color: #1E212C;
}
.video__description {
  font-weight: 400;
  font-size: 18px;
  color: #787A80;
  margin: 24px 0 60px;
}
.video__display {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 920px) {
  .video__display {
    max-height: 350px;
  }
  .video__title {
    font-weight: 500;
    font-size: 34px;
  }
}
@media screen and (max-width: 635px) {
  .video__display {
    max-height: 250px;
  }
}
@media screen and (max-width: 500px) {
  .video__display {
    max-height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .video__display {
    max-height: 140px;
  }
}
.footer {
  padding: 80px 0;
  background: #1E212C;
}
.footer__content {
  display: flex;
  align-items: center;
}
.footer__logo {
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin-right: 52px;
  z-index: 1;
  margin: 0 4px;
}
.footer__none {
  margin: 0 4px;
}
.footer__social--link {
  margin: 0 8px;
}
.footer__description {
  max-width: 493px;
  font-weight: 400;
  font-size: 14px;
  color: white;
  line-height: 21px;
  opacity: 0.6;
  margin-top: 24px;
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  color: white;
  margin-bottom: 24px;
}
.footer__block {
  display: none;
}
.footer__input {
  padding: 12px 228px 12px 16px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px 0px 0px 4px;
  color: white;
  border: none;
  outline: none;
}
.footer__btn {
  padding: 12px 25px;
  background: #FF5A30;
  font-weight: 700;
  font-size: 14px;
  color: white;
  border-radius: 0px 4px 4px 0px;
  margin-left: -5px;
}
.footer__text {
  font-weight: 400;
  font-size: 12px;
  color: white;
  opacity: 0.6;
  max-width: 495px;
  margin-top: 16px;
}
.footer__middle {
  display: flex;
  align-items: center;
  margin-top: 73px;
}
.footer__over {
  margin-right: 125px;
}
.footer__subtitle {
  font-weight: 700;
  font-size: 16px;
  color: white;
  margin-bottom: 13px;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 0.6;
}
.footer__item {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  color: white;
}
.footer__bottom {
  margin-top: 60px;
  font-weight: 400;
  font-size: 12px;
  color: white;
}
.footer__up {
  display: flex;
  align-items: flex-end;
}
.footer__inscription {
  font-weight: 400;
  font-size: 14px;
  color: white;
  margin-right: 16px;
  cursor: pointer;
}
.footer__box {
  width: 40px;
  height: 40px;
  background: #FF5A30;
  border-radius: 4px;
  cursor: pointer;
}
.footer__righta {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.construction .width {
  max-width: 100%;
}
.construction__all {
  display: flex;
  margin-top: 120px;
}
.construction__fet {
  margin-top: 60px;
  margin-left: 80px;
}
.construction__one {
  font-weight: 700;
  font-size: 32px;
}
.construction__titp {
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
  color: #787A80;
}
.construction__aboass {
  margin-top: 25px;
}
.construction__more {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  padding: 20px 50px;
  border: 2px solid #FF5A30;
  border-radius: 7px;
  background: #FF5A30;
  cursor: pointer;
  margin-top: 48px;
}
.construction__services {
  margin-top: 400px;
}
.construction__more:hover {
  background: rgba(250, 248, 247, 0);
  transition: 0.7s;
  color: #FF5A30;
}
.construction__development {
  display: flex;
  margin-top: 120px;
}
.construction__jpg {
  margin-left: 160px;
}
.construction__boot {
  margin-top: 109px;
}
.construction__inter {
  margin-top: 120px;
}
.construction__aboass {
  color: #787A80;
  max-width: 500px;
}
.construction__fone {
  background-image: url("../../assents/img/construction/eva_alfa.png");
  background-size: cover;
  max-width: 100%;
  height: 500px;
}
.construction__servis {
  margin-top: 40px;
  font-weight: 700;
  font-size: 72px;
}
.construction__full {
  margin-top: 96px;
}
.construction__png {
  max-width: 100%;
}

@media screen and (max-width: 1385px) {
  .construction__jpg {
    margin-left: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1170px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1208px) {
  .construction__jpg {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1130px) {
  .construction__jpg {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1010px) {
  .construction__all {
    flex-direction: column;
    padding: 0;
    border: 3px solid #FF5A30;
    border-radius: 6px;
    padding: 30px 40px;
    max-width: 100%;
  }
  .construction__jpg {
    margin-left: 2px;
    margin-top: 20px;
  }
  .construction__development {
    display: flex;
    flex-direction: column-reverse;
    border: 3px solid #FF5A30;
    border-radius: 4px;
    padding: 20px 60px;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .construction__one {
    font-weight: 700;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1170px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1231px) {
  .burger {
    display: block;
  }
  .burger__info {
    margin-left: 30px;
  }

  .header {
    padding: 15px 0;
  }
  .header__info {
    display: none;
  }
}
@media screen and (max-width: 1090px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__title {
    margin-top: 15px;
  }
}
@media screen and (max-width: 780px) {
  .header__nav {
    display: none;
  }

  .burger__nav {
    display: block;
    margin-top: 80px;
  }
  .burger__call, .burger__chat {
    display: block;
  }
  .burger__list {
    flex-direction: column;
    text-align: center;
    width: 200px;
  }
  .burger__img {
    display: none;
  }
  .burger__mobile, .burger__massage {
    margin: 0 auto;
  }
  .burger__link {
    font-weight: 500;
    font-size: 14px;
  }
  .burger__mail, .burger__num {
    font-weight: 200;
    font-size: 14px;
  }
  .burger__info {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .burger__list {
    width: 120px;
  }
  .burger__num, .burger__mail {
    font-size: 10px;
  }
}
@media screen and (max-width: 1060px) {
  .footer__middle {
    flex-wrap: wrap;
    margin-top: 33px;
  }
  .footer__subtitle {
    margin-top: 30px;
  }
  .footer__up {
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 60px 0;
  }
  .footer__input {
    padding-right: 50px;
  }
  .footer__text, .footer__description {
    max-width: 340px;
  }
  .footer__bottom {
    flex-wrap: wrap-reverse;
  }
  .footer__righta {
    margin-right: 130px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 491px) {
  .footer__content {
    flex-wrap: wrap;
  }
  .footer__links {
    display: flex;
  }
  .footer__link {
    margin-right: 12px;
  }
  .footer__none {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .footer {
    text-align: center;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__btn {
    padding: 10px 15px;
    border-radius: 4px;
    margin: 20px auto 0;
  }
  .footer__input {
    padding: 10px 40px 10px;
    border-radius: 4px;
  }
  .footer__over {
    margin: 0 auto;
    width: 400px;
  }
  .footer__righta {
    margin: 20px auto 0;
  }
  .footer__up {
    margin: 0 auto;
  }
  .footer__links {
    margin: 20px auto;
  }
}
@media screen and (max-width: 404px) {
  .footer__logo {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */