@mixin font ($weigh, $size, $lol) {
    font-weight: $weigh;
    font-size: $size;
    color: $lol;
}
@mixin box ($width, $heigth, $bg) {
    width: $width;
    height: $heigth;
    background: $bg;
}
@mixin max-box ($width, $heigth, $bg) {
    max-width: $width;
    max-height: $heigth;
    background: $bg;
}
@mixin flex($align, $justify, $wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    
}
