$white:#ffff;
$primary:#FF5A30;
$grayblack:#1E212C; // gray/900
$litered:#F52F6E;
$black:#000;
$normgray:#424551; // gray/800
$litegray:#787A80;  //gray/700
$whitegray:#B3B7BC;
$lolgray:#D7DADD;   //gray/400
$beflastgray:#E5E8ED; // gray/200
$lastgray:#F4F5F6;// gray/200