@media screen and (max-width:1385px) {
    .construction {
        &__jpg {
            margin-left: 100px;
        }
    }
}

@media screen and (max-width:1250px) {
    .container {
        max-width: 1170px;
        padding: 0 30px;
    }
}

@media screen and (max-width:1208px) {
    .construction {
        &__jpg {
            margin-left: 30px;
        }
    }

}

@media screen and (max-width:1130px) {
    .construction {
        &__jpg {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width:1010px) {


    .construction {

        &__all {
            flex-direction: column;
            padding: 0;
            border: 3px solid #FF5A30;
            border-radius: 6px;
            padding: 30px 40px;
            max-width: 100%;
        }

        &__jpg {
            margin-left: 2px;
            margin-top: 20px;
            // max-width: 0;
        }

        &__development {
            display: flex;
            flex-direction: column-reverse;
            border: 3px solid #FF5A30;
            border-radius: 4px;
            padding: 20px 60px;
            max-width: 100%;
        }




    }
}

@media screen and (max-width:800px) {
    .construction {
        &__one {
            font-weight: 700;
        }
    }
}