.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button--next,
.button--prev {
    @include box (48px, 48px, $white);
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    &:hover {
        opacity: unset;
        transition: .3s;
    }
}