body {
    margin: 0;
    font-family: 'Ubuntu';
}
h1,h2,h3,h4,h5,h6,ul,p {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
}
li, a {
    text-decoration: none;
    list-style: none;
    color: initial;
}
button {
    border: none;
}
