.discuss {
    background: url(../assents/img/global__img/image.png) center center no-repeat ;
    height: auto;
    max-width: 100%;
    background-size: cover;
    padding: 80px 0;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
    } 
    &__content {
        padding: 48px 40px;
        box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
        border-radius: 4px;
        background: $white;
        border: 1px solid $beflastgray;
    }
    &__title {
        @include font (700, 28px, $grayblack);
        text-align: center;
    }
    &__items {
        margin: 24px 0;
    }
    &__inner {
        margin-bottom: 20px;
    }
    &__subtitle {
        @include font (400, 14px, $normgray);
        margin-bottom: 8px;
    }
    &__input,
    &__input--another {
        width: 415px;
        background:$lastgray;
        border: 1px solid $lolgray;
        border-radius: 4px;
    }
    &__input {
        padding: 12px 16px;
    }
    &__input--another {
        padding: 12px 16px 34px 16px;
    }
    &__info {
        display: flex;
        align-items: start;
    }
    &__description {
        max-width: 387px;
        margin-left: 12px;
        @include font (400, 14px, $normgray);
    }
    &__input--checkbox {
        background-color: $primary;
        position: relative;
        z-index: -1;
    }
    &__btn {
        padding: 16px 32px;
        background:$primary;
        border-radius: 4px;
        @include font (700, 14px, $white);
        margin: 0 auto;
        display: flex;
    }
    &__checkbox__wrapper {
        @include box (17px, 17px, $primary);
        border-radius: 4px;
    }
}
