.some {
    width: 100%;
    position: relative;
    &__img {
        position: absolute;
        left: 0;
        top: 0;
    }
    &__content {
        text-align: center;
        margin: 60px 0 180px ;
    }
    &__title {
        margin: 180px auto 0;
        text-align: center;
        @include font (700, 46px, $grayblack);
    }   
}