.video {
    padding: 120px 0 180px;
    &__content {
        text-align: center;
    }
    &__title {
        @include font (700, 46px, $grayblack);
    }
    &__description {
        @include font (400, 18px, $litegray);
        margin: 24px 0 60px
    }
    &__display {
        max-width: 100%;
        max-height: 100%;
    }
    &__block {
        position: relative;
        overflow: hidden;
        border-radius: 4px;
        height: 500px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            background-color: rgba($grayblack, 0.6);
        }
    }
    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
    &__play {
        @include box (80px, 80px, $primary);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        cursor: pointer;
    }
    &__muted {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        left: 32px;
        bottom: 32px;
        z-index: 5;
        background:#6D7E8A;
        cursor: pointer;
    }
}

@media screen and (max-width:920px) {
    .video {
        &__display {
            max-height: 350px;
        }
        &__title {
            font-weight: 500;
            font-size: 34px;
        }
    }
}
@media screen and (max-width:635px) {
    .video {
        &__display {
            max-height: 250px;
        }
    }
}
@media screen and (max-width:500px) {
    .video {
        &__display {
            max-height: 200px;
        }
    }
}
@media screen and (max-width:400px) {
    .video {
        &__display {
            max-height: 140px;
        }
    }
}